* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    height: 100vh;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
  }
  
  .btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }
  
  .createNewQuestion-btn {
    background: #28a745;
  }
  
  .createNewQuestion-btn:hover {
    background: #218838;
  }
  
  .editExistingQuestion-btn {
    background: #007bff;
  }
  
  .editExistingQuestion-btn:hover {
    background: #0056b3;
  }
  